body {
  padding: 0px;
  margin: 0px;
}

#content {
  margin: 2% 10% 10% 5%;
  padding-top: 30px;
  font-size: 12pt;
  font-family: Verdana;
}

header {
  text-align: center;
}

header img {
    width: 60%;
}

header h2 {
    margin-top: 0px;
}

#map {
  z-index: -1;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

#map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#tweets {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#bar {
  top: 0px;
  position: fixed;
  background-color: #eeeeee;
  width: 100%;
  margin: 0px;
  padding: 5px 10px; 5px 10px;
  line-height: 35px;
  font-size: 14pt;
}

#bar img {
  height: 35px;
  vertical-align: bottom;
}

.person {
  padding-top: 25px;
  padding-bottom: 25px;
}

.person img {
  width: 100%;
  border: 3px solid grey;
  margin-right: 10px;
}

.person figcaption {
  text-align: center;
  font-size: 12pt;
}

@media (min-width: 900px) {

  #content {
    margin: 2% 15% 10% 15%;
    font-size: 14pt;
  }

  hr {
    clear: both;
  }

  .person figure {
    width: 45%;
    float: left;
  }

  #bar {
    font-size: 16pt;
  }

}
