body {
  margin: 2% 5% 10% 5%;
  font-size: 12pt;
  font-family: Verdana;
}

header {
  text-align: center;
}

header img {
    width: 80%;
}

header h2 {
    margin-top: 0px;
}

#map {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

#map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 600px) {
  body {
    margin: 2% 20% 10% 20%;
    font-size: 14pt;
  }
}
