<!doctype html>
<html>
  <head>
    <title>DataRescueDC</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <div id="bar">
      <a href="http://www.ppehlab.org/"><img alt="DataRefuge" src="{{ site.baseurl }}/images/datarefuge.png"></a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/">datarescueDC</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/profiles/">Profiles</a>
    </div>
    <div id="content">
    {{ content }}
    </div>
  </body>
</html>
