<!doctype html>
<html>
  <head>
    <title>DataRescueDC</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <div id="bar">
      <a href="http://www.ppehlab.org/"><img alt="DataRefuge" src="{{ site.baseurl }}/images/datarefuge.png"></a>
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/">Home</a>
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/profiles/">Profiles</a>
      &nbsp;
      &nbsp;
      <a href="https://www.facebook.com/Data-Refuge-614633048730954">Facebook</a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/search?q=%23datarescueDC">Twitter</a>
      &nbsp;
      &nbsp;
      <a href="https://storify.com/Bayard/why-help-bring-public-data-to-the-public">Storify</a>
      &nbsp;
      &nbsp;
      <a href="https://www.instagram.com/explore/tags/datarescuedc">Instagram</a>
      &nbsp;
      &nbsp;
    </div>
    <div id="content">
    {{ content }}
    </div>
  </body>
</html>
