<!doctype html>
<html>
  <head>
    <title>DataRescueDC</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <div id="bar">
      <a href="http://www.ppehlab.org/"><img alt="DataRefuge" src="{{ site.baseurl }}/images/datarefuge.png"></a>
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/">Home</a>
      &nbsp;
      &nbsp;
      <a href="/datarescue-dc/profiles/">Profiles</a>
      &nbsp;
      &nbsp;
      <a href="https://www.facebook.com/Data-Refuge-614633048730954">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/search?q=%23datarescueDC">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://storify.com/Bayard/why-help-bring-public-data-to-the-public">
        <i class="fa fa-quote-left"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.instagram.com/explore/tags/datarescuedc">
        <i class="fa fa-instagram"></i>
      </a>
      &nbsp;
      &nbsp;
    </div>
    <div id="content">
    {{ content }}
    </div>
  </body>
</html>
